{% extends "base_template.html" %} {% block style %}
<style>
  main h4 {
    text-align: center;
  }

  #album-form {
    display: flex;
    width: 30%;
    margin: 80px auto !important;
    margin-top: 120px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #album-form select {
    width: 100%;
    margin: 10px;
  }

  #album-form .text-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #album-form .text-input input {
    margin: auto;
    width: 45%;
  }

  .modal-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-body * {
    margin: 5px auto !important;
  }
</style>
{% endblock %} {% block content %}

<form
  id="album-form"
  action="/album/create"
  class="form-inline my-2 my-lg-0"
  method="POST"
>
  <input type="number" hidden value="{{ session['id'] }}" name="artist_id" />
  <div class="text-input">
    <input
      class="form-control mr-sm-2"
      placeholder="Album Title"
      name="album_title"
      required
    />
    <input
      class="form-control mr-sm-2"
      placeholder="Album Genre"
      name="album_genre"
      required
    />
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-success my-2 my-sm-0"
      data-toggle="modal"
      data-target="#staticBackdrop"
    >
      Create
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Add First Song of The Album
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input
              class="form-control mr-sm-2"
              placeholder="Song Title"
              name="song_title"
              required
            />
            <select multiple class="form-control" name="other_artists">
              <option value="" disabled>Select Co-Artists</option>
              {% for artist in context["artists"] %} {% if artist["id"] !=
              session["id"] %}
              <option value="{{ artist['id'] }}"
                >{{ artist["name"] }} {{ artist["surname"] }}</option
              >
              {% endif %} {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success btn-sm">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<h4>My Albums</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for album in context["albums"] %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>
        <a href="/artist/album/{{ album['album_id'] }}"
          >{{ album["album_title"] }}</a
        >
      </td>
      <td>{{ album["album_genre"] }}</td>
      <td>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-info btn-sm"
          data-toggle="modal"
          data-target="#staticBackdrop{{ album['album_id'] }}"
        >
          Update
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop{{ album['album_id'] }}"
          data-backdrop="static"
          tabindex="-1"
          role="dialog"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form action="/album/update" method="POST">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    Update Album: {{ album['album_title'] }}
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <label for="album_title">Title:</label>
                  <input
                    type="number"
                    value="{{ album['album_id'] }}"
                    hidden
                    name="album_id"
                  />
                  <input
                    class="form-control mr-sm-2"
                    placeholder="Album Title"
                    name="album_title"
                    value="{{ album['album_title'] }}"
                    required
                  />
                  <label for="album_genre">Genre:</label>
                  <input
                    class="form-control mr-sm-2"
                    placeholder="Album Genre"
                    name="album_genre"
                    value="{{ album['album_genre'] }}"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-success btn-sm">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </td>
      <td>
        <a
          class="btn btn-danger my-2 my-sm-0 btn-sm"
          href="/album/delete/{{ album['album_id'] }}"
        >
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
